/* colors */
$sliderItemColor: #000;
$sliderItemColorActive: #000;
$sliderArrowColor: #000;

/* swipejs */
.swipe { overflow: hidden; visibility: hidden; position: relative; -webkit-perspective: 1000; }
.swipe-wrap { overflow: hidden; position: relative; }
.swipe.single .swipe-wrap > div { float: none; }
.swipe-wrap > div { float: left; position: relative; overflow: hidden;}
.swipe-wrap > div img { display: block; }

.swiper-wrapper { position: relative; }
.swiper-wrapper .links { position: absolute; top: 50%; margin-top: -20px; left:0; right:0; }
.swiper-wrapper .links a { display: inline-block; cursor: pointer; position: absolute; top:0; left:0; }
.swiper-wrapper .links a.next { left: auto; right:0; }

.button-controls .slider-controls { margin: 10px 0 0; }
.slider-controls-links .item,
.swiper-wrapper.button-controls .slider-controls a { cursor: pointer; text-indent: -999em; display: inline-block; width: 14px; height: 14px; overflow: hidden; border-radius: 14px; margin: 0 3px; border: 1px solid $sliderItemColor;}
.slider-controls-links .item.selected,
.slider-controls-links .item:hover,
.swiper-wrapper.button-controls .slider-controls a.selected,
.swiper-wrapper.button-controls .slider-controls a:hover { background: $sliderItemColorActive;}

/* control-bar */
.slider-controls-links { text-align: center; margin: 15px 0 0;}
.slider-controls-links .item { border-color: $sliderItemColor; background: #fff; }
.slider-controls-links .item:hover,
.slider-controls-links .item.selected { background: $sliderItemColorActive; }
.slider-controls-links a { display: inline-block; vertical-align: middle; }
.slider-controls-links .font-sprite { width: 32px; padding: 22px 0 0; text-align: center; color: $sliderArrowColor; font-size: 22px; cursor: pointer; }