/* header */
header { }
.header-logo {
	position: fixed;
	z-index: 11;
	top:0; left:0; right:0;
	padding: 10px 0;
	width: 172px;
	margin: 0 auto;
	display: block;
	opacity:1;
	@include transform( translate3d(0,0,0) );
	@include transition( opacity 0.2s $ease-in-out-sine, transform 0.4s $ease-in-out-sine 0.6s );
	
	.show-nav & {
		@include transform( translate3d(0,-100%,0) );
		opacity:0;
		@include transition-delay( 0s );
	}
	
}