$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	padding-top: 40px;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	padding: 20px 0; 
	cursor: default; 
	margin-top: 20px; 
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; height: 25px; background-size: 186px 50px; z-index: 10; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

@media screen and (max-width: 600px) {
	.copyright { text-align: center; }
	#jac { position: static; display: block; right:0; margin: 20px auto 0;}
}

.footer-nav {
	background: #171717;
	margin: 40px 0;
	
	ul {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( center );
	}
	
	@media screen and ( max-width: 600px) {
		li { @include flex( 0 0 100% ); }
	}
	
	a {
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 16px;
		font-size: 20px;
		font-weight: 300;
		position: relative;
		z-index: 1;
		
		&:before {
			content:"";
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -1;
			@include transform( scale(0,1) );
			@include transform-origin( center left );
			@include transition( all 0.3s $ease-in-out-quart );
			background: $blueColor;
		}
		
		&:hover {
			&:before {
				@include transform( scale(1,1) );
			}
		}
		
	}
	
}

.footer-logo {
	display: block;
	margin: 0 auto;
	width: 250px;
	max-width: 90%;
}

.footer-blocks {
	@include display( flex );
	@include flex-flow( row wrap );
}

.footer-block {
	@include flex( 1 0 275px );
	border-right: 1px solid #171717;
	padding: 30px;
	text-align: center;
	&:last-child { border: none; }
}