.social {
	cursor: default;
	& .fb:before { content: $fa-var-facebook; }
	& .tw:before { content: $fa-var-twitter; }
	& .in:before { content: $fa-var-linkedin; }
	& .yt:before { content: $fa-var-youtube; }
	
}