$selectorColor: #fff !default;
$selectorColorActive: #ddd !default;
$selectorBackgroundColor: #000 !default;
$selectorBackgroundColorActive: #999 !default;

/* selectors */
.selector { position: relative; margin: 0 0 10px; cursor: pointer; padding-right: 30px; display: inline-block; background: $selectorBackgroundColor;}
.selector:hover { background: $selectorBackgroundColorActive;}

.selector.with-arrow:before { 
	@include fa-icon();
	content: $fa-var-chevron-right;
	color: $selectorColor;
	position: absolute; right: 10px; margin-top: -9px; left:auto; pointer-events: none; top: 50%; left:auto; font-size: 18px; line-height:1;
}

.selector .value { display: block; padding: 9px 14px 8px; color: $selectorColor; line-height: 1; font-family: $defaultFontStack; font-size: 16px; text-indent:0; text-transform: uppercase; font-weight: bold; }
.selector select:focus+.value,
.selector:hover .value,
.selector:hover:before { color: $selectorColorActive;}

.selector select { position: absolute; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; opacity:0; background: transparent; cursor: pointer; z-index: 10;}