/* hero */
.hero {

	min-height: 350px;

	.home & .swipe-wrap>div {
		height: 100vh;
		position: relative;
		max-height: 800px;
		min-height: 500px;
		overflow: hidden;
		padding-top: 60px;
		background-color: #000;
		
		@include linear-gradient( 300deg, #00293d, #05436c);
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
	}
	
	.item {
		position: absolute; 
		top:0; left:0; bottom:0;
		width: 100%; 
		z-index: 1; 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center center; 
		display: block;
		opacity:0;
		@include transition( opacity $ease-in-sine 0.4s );
	}
	
	.loaded>.item { opacity:0.6; }	

	.swiper-wrapper.button-controls .slider-controls {
		position:absolute;
		bottom:10px; left:0; right:0;
		text-align:center;

		a {
			border-color: #fff;
			border-width:2px;
			margin: 0 5px;

			&:hover,
			&.selected {
				background: $blueColor;
			}
		}
	}
}

.hero-content {
	position: relative;
	z-index: 2;
	text-align: center; 
	width: 500px;
	max-width: 95%;
	margin: 0 auto;
	font-weight: 300;
	img { 
		display: block;
		margin: 0 auto 20px;
		width: 300px; max-width: 90%; 
	}
}

.hero-title,
.hero-subtitle {
	color: #fff; 
	font-size: 42px;
	display: block; 
	margin: 0 0 10px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	font-weight:100;
}

.hero-subtitle { 
	font-size: 24px; 
	margin-bottom: 15px;
	line-height:1.6;
}